.wrapper {
 max-width: 1200px;
 margin: 0 auto;
}

@media (min-width: 800px) {
 main {
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(5 1fr);
  grid-gap: 10px;
  grid-template-areas:
   "first  second"
   "first  third"
   "fourth third"
   "fifth  third"
   "fifth  third";
 }
 .first {
  grid-area: first;
 }
 .second {
  grid-area: second;
 }
 .third {
  grid-area: third;
 }
 .fourth {
  grid-area: fourth;
 }
 .fifth {
  grid-area: fifth;
 }
}
