// section part 1
.section_1 {
 width: 95%;
 margin: 0 auto;
 text-align: center;
}

.section_1_img_container {
 display: flex;
 flex-direction: column;
}

.section_1_img_container img {
 padding: 0;
}
.section_1_img_container h3 {
 position: relative;
 bottom: 60px;
 background-color: black;
 color: white;
 padding: 10px;
 opacity: 90%;
 text-align: left;
 text-transform: uppercase;
}

