// section part 4
.section_4 {
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
   }
   
   .section_4 h2 {
    color: #005991;
    text-transform: uppercase;
    padding-bottom: 5px;
   }
   
   .section_4 p {
    padding-top: 0;
   }
   
   .section_4 button {
    background-color: #005991;
    border: none;
    color: white;
    font-weight: 600;
    width: 110px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    margin: 15px 10px;
    padding: 5px;
    text-align: left;
   }

// section 5
.section_5 {
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
   }
   
   .section_5 h2 {
    color: #005991;
    text-transform: uppercase;
    padding-bottom: 5px;
   }
   
   .section_5 p {
    padding-top: 0;
   }
   
   .section_5 button {
    background-color: #005991;
    border: none;
    color: white;
    font-weight: 600;
    width: 110px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    margin: 15px 10px;
    padding: 5px;
    text-align: left;
   }

// section-6
.section_6 {
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
   }
   
   .section_6 img {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 30px;
   }
